[Service]
Environment="JAVA_OPTS=-Djenkins.install.runSetupWizard=false"
Environment="SSH_PRIVATE_KEY={{ vault_ssh_private_key | replace('\n', '\\n') }}"
Environment="SSH_USERNAME={{ vault_ssh_username }}"
Environment="JENKINS_ADMIN_USERNAME={{ vault_jenkins_admin_username }}"
Environment="JENKINS_ADMIN_PASSWORD={{ vault_jenkins_admin_password }}"
Environment="DOCKER_REGISTRY={{ docker_registry_address }}"
ExecStart=
ExecStart=authbind --deep /usr/bin/jenkins --httpPort={{ jenkins_interface_port }}
